/* Add CSS Styling */
.oddNumber {
    background-color: #ffc0c0;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.numberThree {
    font-size: 24px;
}

#numberTwo {
    color: #0000cd;
    font-size: 36px;
}

#numberFour {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}