/* Add CSS Styling */
.firstButton {
    background-color: #000000;
    color: #ffffff;
}

.secondButton {
    background-color: #ffff00;
}

.firstButton, .secondButton {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}